*~
*.lock
*.phar

.DS_Store
.project
nbproject/*

app/*
!/app/assets
!/app/config/samples/
!/app/extensions
!/app/sites
!/app/tests

public/templates/*
!public/templates/sample

upload/*

/vendor/*
!/vendor/tiny_mce