*~
*.lock
*.phar

.DS_Store
.project
nbproject/*
codekit-config.json

app/*
!/app/assets
!/app/config/samples/
!/app/controllers
!/app/languages
!/app/models
!/app/sites
!/app/tests
!/app/views

upload/*

/vendor/*
!/vendor/tiny_mce
/.minify/
