*~
.DS_Store
nbproject/*
app/backup/*
app/compile/*
app/cache/*
app/config/*inc.php
upload/*
app/logs/*
app/backup/*
public/templates/*
!public/templates/sample
.project
!/app/config/samples/

composer.lock
composer.phar
/vendor/*
!/vendor/tiny_mce
tools/migrate
