/********************************************************************************/
/* Sprite */
/********************************************************************************/
/*.icon {width:16px;height:16px}*/
.clearfix {
  clear:both;
}

.center {
  text-align:center !important;
}

.right {
  text-align:right !important;
}

/* Center loading image */
#infscr-loading {
  text-align:center;
}




// Boostrap icon fixes
h2 [class^="icon-"],
h2 [class*=" icon-"] {
  vertical-align: middle;
}

.icon-rss{
background-position: 0px 0px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAABPUlEQVQokYXRsUuVYRQG8J9eCe3ahdBMBRfRJHKRuIgiQi6ig4JL4SK6mDj7RzRpIAhirtESiDjcSRdxjG6oIC4iuFySCvNSpLfhO99yQXync55znnPO8z4ZdOENHqIZv/HHPW8Rl7hAEduYR+tdhExMP0cJ3chjAuMo4xsq1cQmvEAWLXiFDfzCXywjV01awDUO8QFTeIB+7MeW9WriNAo4jobbyPOx/VPgq6hJSVm0x6QBfI6mcmhrwEFgcynpdYBrGEQdZiQ/+hNDeB5xEY2ppq+hq4KVGPY28l3UYzPyWXiEp+jFThTex8atyCfxMuJtGMNHjIauQhT7JV6ljbX4ghNYwg2uMCzxqYJ3eCwxvYQnceJ1bTRfhTeTIfYSfYGfxqlZnOFfDdrQI3H/B44wgu/xQc/QgT10IvcfL6xUcSDHjuoAAAAASUVORK5CYII=);}
